<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>GameHub - Communauté</title>
    <link rel="stylesheet" th:href="@{/css/style.css}">
    <link rel="stylesheet" th:href="@{/css/tournaments.css}">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
</head>
<body>
	<!-- Header -->
    <div th:insert="~{fragments :: header}"></div>

	<!-- Jumbotron -->
    <section class="jumbotron text-center">
        <div class="container">
            <div class="row align-items-center">
                <!-- Colonne pour l'image -->
                <div class="col-md-4">
                    <img th:src="@{/image/} + ${community.game.image_url}" alt="Image du jeu" class="img-fluid rounded" style="max-height: 250px;">
                </div>
            
                <!-- Colonne pour le texte -->
                <div class="col-md-8">
                    <h1 class="jumbotron-heading" th:text="'Bienvenue dans la communauté de ' + ${community.game.name}">Communauté</h1>
                    <p class="lead" th:text="'Rentrez en contact avec les personnes partageant votre passion pour ' + ${community.game.name}">Communauté description</p>
                    <p th:text="'Nombre de personnes ayant déjà rejoint la communauté de ' + ${community.game.name} + ' : ' + ${community.numberMember}"> nbr personnes</p>
                </div>
            </div>
        </div>
    </section>
    
    <div class="row" >
        <form th:action="@{/joinCommunity}">
            <div class="form-group text-center">
                <button type="submit" class="btn btn-primary">Rejoindre</button>
            </div>
        </form>
    </div>
    <section class = "container my-5">
        <h2 class="text-center mt-4 mb-5">Chat</h2>
        <ul th:each=" message : ${comments}"  class="overflow-auto" style="height: 75vh;">
            <li>
                <p > <strong th:text="${message.user.username}"> </strong> <span th:text="${#temporals.format(message.timestamp, 'MM/dd HH:mm')}"></span> </p>
                <p th:text="${message.content}"> </p>
            </li>

        </ul>

        <form th:action="@{/games/{name}/chat/comments}" method="post" >
            <div class= "form-goup">
                <input type="text" class = "form-control" name = "content"  placeholder="Envoyer un message" required />
                <button type="submit" class="btn rounded-circle custom-btn"> <i class="bi bi-arrow-up"></i> <!-- fait une fléche vers le haut --></button>
            </div>
        </form>

        </div>


    </section>

    <div th:insert="~{fragments :: footer}"></div>

</body>