<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>GameHub - Communauté</title>
    <link rel="stylesheet" th:href="@{/css/style.css}">
    <link rel="stylesheet" th:href="@{/css/tournaments.css}">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
</head>
<body>
    <!-- Header -->
    <div th:insert="~{fragments :: header}"></div>

    <!-- Jumbotron -->
    <section class="jumbotron text-center">
        <div class="container">
            <h1 class="jumbotron-heading">Découvrez toutes les communautées de GameHub</h1>
            <p class="lead">Jouer est plus fun ensemble : rejoignez les communautés de vos jeux favoris afin de partager des moments uniques à plusieurs </p>
        </div>
    </section>

	<main> 
		<h2 class="text-center mt-4 mb-5"> Toutes les communautés de GameHub :</h2>
		<div class="row">
			<div th:each ="community : ${allCommunity}" class="col-md-4 mb-4">
                <a th:href="/game/{name}/chat" style="text-decoration: none;"> <!-- Mettre la bonne route vers la community -->
				    <div class="tournament-card"> <!-- Prend tournament-card prcq esthétique ok pour les communautées-->
                        <div class="tournament-card-image">
                            <img th:src="@{/image/} + ${community.game.image_url}" class="img-fluid rounded" alt="Image du tournoi" style="max-width: 100%; height: auto;">
                        </div>
                        <div class="tournament-card-content">
                            <h3 th:text="$'Nom : '+${community.game.gameName}">Nom de la communauté</h3>   
                        </div>
                    </div>
                </a>
			</div>
		</div>
	</main>


	<footer th:insert="~{fragments :: footer}"></footer>
</body>