<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title th:text="${game.name} + ' - GameHub'">GameHub - Jeu</title>
    <!-- CSS global pour le style général -->
    <link rel="stylesheet" th:href="@{/css/style.css}">
    <link rel="stylesheet" th:href="@{/css/game.css}">

    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
</head>
<body>
    <!-- Header -->
    <div th:insert="~{fragments :: header}"></div>

    <!-- Contenu principal -->
    <main class="container mt-5">
        <div class="form-group text-right"> 
            <a th:href="@{'/games/' + ${game.name} + '/chat'}" class="btn btn-secondary">
                Rejoins la communauté
            </a>
        </div>
        
        <div class="text-center">
            <!-- Nom du jeu -->
            <h1 class="mb-4" th:text="${game.name}">Nom du Jeu</h1>

            <!-- Image du jeu -->
            <div class="mb-4">
                <img th:src="@{/image/} + ${game.image_url}" class="img-fluid rounded" alt="Image du jeu" style="max-width: 100%; height: auto;">
            </div>

            <!-- Détails du jeu -->
            <div class="details">
                <p style="color: antiquewhite;"><strong>Année de sortie :</strong> <span th:text="${game.releaseYear}"></span></p>
                <p style="color: antiquewhite;"><strong>Développeur :</strong> <span th:text="${game.developerStudio}"></span></p>
                <p style="color: antiquewhite;"><strong>Genre :</strong> <span th:text="${game.genre}"></span></p>
                <p style="color: antiquewhite;">
                    <strong>Plateformes :</strong>
                    <span th:each="platform : ${game.platforms}" th:text="${platform.name}" class="badge bg-secondary mx-1"></span>
                </p>
            </div>
        </div>
    </main>

    <!-- Footer -->
    <div th:insert="~{fragments :: footer}"></div>

    <!-- Bootstrap JS -->
    <script src="https://code.jquery.com/jquery-3.5.1.slim.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@4.5.2/dist/js/bootstrap.bundle.min.js"></script>
</body>
</html>