<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>GameHub - Inscription</title>
    <!-- Lien vers le fichier CSS -->
    <link rel="stylesheet" th:href="@{/css/style.css}">
    <link rel="stylesheet" th:href="@{/css/form.css}">

    <!-- Lien vers Bootstrap (CDN) -->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
</head>
<body>

    <form th:action="@{/submitFormUser}" th:object="${user}"  method="POST">
        
        <label for="prenom">Prénom : </label>
        <input type="text" name="name" th:field="*{name}"  />
        <div th:if="${#fields.hasErrors('name')}" th:errors="*{name}"></div>
                                                            
        <label for="nom">Nom : </label>
        <input type="text" name="surname" th:field="*{surname}" required/>
        <div th:if="${#fields.hasErrors('surname')}" th:errors="*{surname}"></div>
        
        <label for="pseudonyme">Username : </label>
        <input type="text" name="username" th:field="*{username}" required />
        <div th:if="${#fields.hasErrors('username')}" th:errors="*{username}"></div>

        <label for="email">Email : </label>
        <input type="email" name="email" th:field="*{email}" required>
        <div th:if="${#fields.hasErrors('email')}" th:errors="*{email}"></div>

        <label for ="Password"> Password : </label>
        <input type="password" name ="password" th:field="*{password}"  required>
        <div th:if="${#fields.hasErrors('password')}" th:errors="*{password}"></div>

        <label for="dateNaissance">Date de naissance : </label>
        <input type="date" name="birthdate" th:field="*{birthdate}" min ="1920-01-01" required/>
        <div th:if="${#fields.hasErrors('birthdate')}" th:errors="*{birthdate}"></div>

        <!-- Faire le truc avec les PP mais il faut avoir accès à la BDD donc chaud mtn -->

        <button type="submit"> Envoyer</button>
    </form>


</body>