<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>GameHub - Tournois</title>
    <link rel="stylesheet" th:href="@{/css/style.css}">
    <link rel="stylesheet" th:href="@{/css/tournaments.css}">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
</head>
<body>
	<!-- Objectif faire un filtre pour rechercher le tournoi qui nous correspond-->
	<section id = "filter">
		<!--  Mettre le bon truc mapping correspondant au bon controller-->
		<form th:action="@{/tournament/submitFilter}"  method="POST">
			<label for= "nameTournament"> Nom du tournois :</label>
			<input type="text" name ="prefixName" />
			
			<label for="private"> Tournoi privé : </label>
			<input type="checkbox" name="is_Private"  />
		

		</form>
		<button type="submit"> Filtrer </button>
	</section>

	<section id="tournament">
		<div th:each="tournament : ${tournamentFilter}" class="col-md-4 mb-4">
			<div class="tournament-card">
				<div class="tournament-card-image">
					<img th:src="@{/image/} + ${tournamentFilter.image_url}" class="img-fluid rounded" alt="Image du tournoi" style="max-width: 100%; height: auto;">
				</div>
				<div class="tournament-card-content">
					<h3 th:text="${tournamentFilter.name}">Nom du Tournoi</h3>
					<p th:text="'Jeu: ' + ${tournamentFilter.gameName}">Jeu: Nom du Jeu</p>
					<p th:text="'Date de fin: ' + ${tournamentFilter.endDate}">Date de fin: 01/01/2024</p>
					<a th:href="@{/tournament/join} + ${tournamentFilter.id}" class="btn btn-primary btn-page">Voir Détails</a>
				</div>
			</div>
		</div>

	</section>

</body>
</html>
